.searchContainer {
  position: relative; /* Add position: relative to the container */
  display: flex;
  align-items: center;
}

.inputField {
  flex: 1;
  width: 835px;
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000058;
  border-radius: 36px;
  opacity: 1;
  padding: 30px 19px;
}

.searchButton {
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 36px;
  height: 54px;
  width: 133px;
  background: #ec2227 0% 0% no-repeat padding-box;
  position: absolute;

  right: 10px; /* Position it to the right within the container */
}

.results {
  position: absolute; /* Add position: absolute */
  top: 100%; /* Position it below the search box */
  max-height: 200px; /* Set a max height to make it scrollable */
  overflow-y: auto; /* Add overflow-y for scrolling */
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  border-radius: 20px;
}

.results li {
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  list-style: none;
}

.resultItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  /* justify-content: center; */
}
.resultItem:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.resultImage {
  height: 20px;
  align-items: flex-start;
}
.clearButton {
  position: absolute;
  /* top: 50%; */
  right: 136px;
  /* transform: translate(0, -50%); */
  height: 46px;
  /* width: 90px; */
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
